{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}
    <title>Edit Exam</title>
{% endblock %}


{% block custom_css %}
    <link rel="stylesheet" href="{% static 'main_app/css/edit_exam.css' %}">
{% endblock %}


{% block logout_in_navbar %}

    {% include 'sign_out_button.html' %}

{% endblock %}


{% block content %}

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.16.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.16.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="display-4">Edit Exam</h2>

            <div class="my_container">

                <form method="post" action="{% url 'main:do_edit_exam' exam_id %}">{% csrf_token %}
                    {{ form.exam_name|as_crispy_field }}

                    {{ form.category|as_crispy_field }}

                    <span><a href="{% url 'main:all_exams' %}" id="backbtn" class="btn btn-secondary backBtn">Back</a></span>
                    <button type="submit" class="btn btn-success">Save <i class="far fa-save"></i></button>

                </form>

            </div>


        </div>
    </div>
</div>


{% endblock %}
